name: "Hello world workflow"

# Controls when the action will run. Triggers the workflow on push some to main or production
on:
    push:
        branches:
            - main
            - production


jobs:
    hello_world:
        runs-on: ubuntu-latest
        steps:
            - name: "Print hello world"
              run: echo "Hello world"

            - name: "Print current date"
              run: date

        
